@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fira+Sans&family=Indie+Flower&display=swap');

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    width: 85%;
    margin: 0 auto;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    font-family: sans-serif;
    width: 100%;
    background-color: #d0cfec;
  }
  
  .bookmark-hide {
    display: none;
  }
  
  header {
  background-color: #422040;
  border-bottom: 2px solid lightgray;
  width: 100%;
  height: 66px;
  }
  
  h1 {
    text-align: center;
    font-size: 55px; 
    margin: 0 auto; 
    color: white;
    font-family: 'fira sans', sans-serif;
  }
  
  .error-container {
  
  color: red;
  border: 1px solid red;
  margin: 10px;
  border-radius: 12px;
  background-color: rgb(252, 238, 240);
  }
  
  .error-container h2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .error-container button {
    float: right;
    margin: 3px;
    font-size: 15px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 1px 0 1px lightgray;
  }
  
  .error-container p {
    margin: 5px;
    text-align: center;
  }
  
  .main-container {
    text-align: center;
  }
  
  .flex-container {
    margin: 0 auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: #d0cfec;
    min-height: 100vh;
  }
  
  .button-add {
    font-size: 20px;
    font-family: sans-serif;
    background-color: white;
    border-radius: 12px;
    padding: 3px, 7px, 3px, 5px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0 1px 0 1px lightgray;
  }
  
  .filter-container {
  float: right;
  font-size: 20px;
  margin-top: 10px;
  margin-right: 10px;
  }
  
  #star-rating-filter {
    font-size: 16px;
    font-family: sans-serif;
    background-color: white;
    box-shadow: 0 1px 0 1px lightgray;
  }
  
  .bookmark-condensed-container {
    border: solid 2px darkgray;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #422040;
    color: white;
  }
  
  .bookmark-name {
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  }
  
  .bookmark-rating {
    margin-left: 15px;
    margin-bottom: 5px;
  }
  
  .checked {
    color: orange;
  }
  
  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .expand-button {
  float: right;
  font-size: 20px;
  background-color: white;
  border-radius: 12px;
  margin-right: 5px;
  margin-top: 5px;
  }
  
  .bookmark-expand p, a {
    margin-top: 0px;
    margin-left: 10px;
  }
  .bookmark-expand a {
    font-size: 16px;
  }
  
  a {
    margin-top: 10px;
  }
  
  a:link    {color: #d0cfec}
  a:hover   {color: #5e747f}
  a:visited {color: #e8fcc2}
  a:active  {color: #fc7753}
  
  .delete-button {
    font-size: 20px;
    font-family: sans-serif;
    background-color: white;
    border-radius: 12px;
    padding: 3px, 7px, 3px, 5px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  .edit-button {
    font-size: 20px;
    font-family: sans-serif;
    background-color: white;
    border-radius: 12px;
    padding: 3px, 7px, 3px, 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    box-shadow: 0 1px 0 1px lightgray;
  }
  
  .form {
    font-size: 20px;
  }
  
  input[type="radio"] {
    font-size: 5px;
  }
  
  input, textarea {
    font-size: 20px;
    border: solid 2px darkgray;
    border-radius: 12px;
  }
  
  #title, #url {
    width: 100%;
  }
  
  textarea {
    resize: none;
    width: 100%;
  }
  
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    font-family: sans-serif;
    background-color: white;
    box-shadow: 0 1px 0 1px lightgray;
  }
  
  .url-warning-container {
    text-align: center;
  }
  
  .url-warning {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  .footer-space {
    height: 25px;
  }
  
  /******MEDIA QUERIES*****/
  @media screen and (max-width: 283px) {
    body {
      width: 283px;
    }
  }
  
  @media screen and (min-width: 500px) {
  
    .flex-container {
      width: 500px;
  
    }
  }